.login {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../../../assets/imgs/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .login-container {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right: 200px;
        width: 300px;
        background-color: #fff;
        border-radius: 4px;
        padding: 30px 20px 10px 20px;
    }
}

.login-btn-container {

    position: relative;

    .login-info {
        color: #ed3f14;
        height: 32px;
        line-height: 32px;
        position: absolute;
    }
}